/*Color Pattern (cores padronizadas) */
/* as cores precisam estar dentro do root para funcionar para o CSS
tag root é raiz*/
:root {
    /*paleta de cores Luan no projeto be.Academy*/
    --primary-color: #dcf64b;
    --second-color: #a0b435;
    --black-color: #000000;
    --black-color-medium: #0c0c0c;
    --semi-black: #1e1e1e;
    --white-color:#ffffff;

    /*paleta de cores exercicio*/
    --primary-color-ex: #dcf64b;
    --second-color-ex: #a0b435;
    --black-color-ex: #000000;
    --black-color-medium-ex: #0c0c0c;
    --semi-black-ex: #1e1e1e;
    --white-color-ex:#ffffff;

}